<nav class="navbar navbar-expand-sm navbar-light bg-light pt-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="row navbar-nav pe-0 gx-0 mt-2 bg-dark-subtle mt-lg-0 w-100">
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-file-circle-plus"></i>
            <a class="nav-link text-primary fw-bold">جديد F11</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-hard-drive"></i>
            <a class="nav-link text-primary fw-bold">حفظ F2</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-xmark text-danger"></i>
            <a class="nav-link text-primary fw-bold">حذف F3</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-magnifying-glass"></i>
            <a class="nav-link text-primary fw-bold">بحث</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-forward-step"></i>
            <a class="nav-link text-primary fw-bold">الأول F8</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-chevron-right"></i>
            <a class="nav-link text-primary fw-bold">السابق F7</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-chevron-left"></i>
            <a class="nav-link text-primary fw-bold">التالي F6</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fs-4 fa-backward-step"></i>
            <a class="nav-link text-primary fw-bold">الاخر F9</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
          <i class="fa-solid fs-4 fa-print"></i>
            <a class="nav-link tex text-primary fw-bold">معاينه F4</a>
          </li>
        </div>
        <div class="col-sm-1 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-solid fa-file-import fs-4"></i>
            <a class="nav-link text-primary fw-bold">انهاء F10</a>
          </li>
        </div>
        <div class="col-sm-2 buttons text-center">
          <li
            class="nav-item d-flex flex-column justify-content-center align-items-center bg-white pt-3"
            role="button"
          >
            <i class="fa-regular fs-4 text-dark-emphasis fa-rectangle-xmark"></i>
            <a class="nav-link last text-dark-emphasis"
              >إلغاء نقل المستند</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
