<section>
  <app-nav-transform></app-nav-transform>
</section>
<section>
  <div class="row bg-primary-subtle">
    <div class="col-lg-5 row align-items-center py-2">
      <label for="branch" class="col-2 text-center">الفرع</label>
      <input type="number" class="col-4" id="branch" placeholder="رقم الفرع">
      <i class="fa-solid fa-magnifying-glass col-1 p-2 d-flex justify-content-center align-items-center" role="button"></i>
      <input type="text" class="col-5" placeholder="إسم الفرع">
    </div>
    <div class="col-lg-4 row align-items-center">
      <label for="user" class="col-3 text-center">المستخدم</label>
      <input type="number" class="col-3 ms-2" id="user" placeholder="الرقم">
      <input type="text" class="col-5" placeholder="إسم المستخدم">
    </div>
    <div class="col-lg-3 row align-items-center mt-2 mt-lg-0">
      <label for="time" class="col-5 text-center">الوقت</label>
      <input type="time" class="col-7" id="time" placeholder="الوقت">
    </div>
  </div>
  <div class="row bg-primary-subtle">
    <div class="col-lg-7 row align-items-center py-2">
      <div class="col-md-6 row">
        <label for="branch" class="col-4 text-center">رقم المستند</label>
        <input type="number" class="col-8" id="branch" placeholder="رقم المستند">
      </div>
      <div class="col-md-6 row">
        <label for="branch" class="col-4 text-center">تاريخ المستند</label>
        <input type="date" class="col-8" id="branch" placeholder="التاريخ">
      </div>
    </div>
    <div class="col-lg-3 row align-items-center mt-2 mt-lg-0">
      <label for="time" class="col-5 text-center">الوقت</label>
      <input type="time" class="col-7" id="time" placeholder="الوقت">
    </div>
    <div class="col-lg-2 row align-items-center mt-2 mt-lg-0">
      <label for="time" class="col-5 text-center">الوقت</label>
      <input type="time" class="col-7" id="time" placeholder="الوقت">
    </div>
  </div>
</section>
